{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
 <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
</head>
<style>
    .like {
		color: red;
	}
</style>
 <!--================Blog Area =================-->

 <!-- breadcrumb start-->
 {% for post in area_posts %}
 <section class="blog_area padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-5 mb-lg-0">
                <div class="blog_left_sidebar"> 
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img class="card-img rounded-0" src="{{post.image.url}}" alt="">
                            <a href="#" class="blog_item_date">
                                <h3>마감일</h3>
                                <p>{{post.dday}} </p>
                            </a>
                        </div>
                        <div class="blog_details">
                            <a class="d-inline-block" href="single-blog.html">
                                <h2>{{post.title}}</h2>
                            </a>
                            <p>{{post.content}}</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="far fa-user"></i> 자세히보기</a></li>
                                <li><a href="#"><i class="far fa-comments"></i>공감</a></li>
                            </ul>
                            {% if user in post.likes.all %}
                                <i class="icon ion-ios-heart like" data-pk="{{post.pk}}"></i>
                                <i id = "count-{{post.id}}">{{post.likes_count}}개</i>		
                            {% else %}
                                <i class="icon ion-ios-heart-empty like" data-pk="{{ post.pk }}"></i>
                                <i id = "count-{{post.id}}">{{post.likes_count}}개</i>
                            {% endif %}
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
$(".like").click(function(){ // 버튼을 click하면 class의 like를 가져와서 ajax 기능 시작
    var pk = $(this).data('pk');
    $.ajax({
        type: "POST", // 데이터 전송 타입
        url: "{% url 'app:post_like' post.pk %}", // 새로고침은 안하지만 데이터를 보낼 url은 필요하므로 보낼 url 지정
        data: {'csrfmiddlewaretoken': '{{csrf_token}}'},
        dataType: "json",
        // post_like에서 반환하기로 한 데이터 타입 json {'like_count': post.like_count}을 반환
    
        success: function(response){ // 통신 성공시 수행
            if (response.message == "like") {
                $(".like").removeClass('ion-ios-heart-empty');
                $(".like").addClass('ion-ios-heart');
                $("#count-"+pk).html(response.likes_count+"개")

            }
            else if (response.message == "like_cancel") {
                $(".like").removeClass('ion-ios-heart');
                $(".like").addClass('ion-ios-heart-empty');
                $("#count-"+pk).html(response.likes_count+"개")
            }
        },
        error: function(request, status, error){ // 통신 실패시 수행
            alert("로그인이 필요합니다.")
            window.location.replace("/accounts/login/")
        },
    })
})
</script>


{% endfor %}




<!--================Blog Area =================-->
{% endblock %}